services:
  api:
    container_name: nest-api
    image: nest-dhyunbot-api
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/workspace # Monorepo root
      - /workspace/node_modules # Root node_modules
      - /workspace/apps/api/node_modules # API node_modules
      - /workspace/libs/shared/node_modules # Shared lib node_modules
    working_dir: /workspace/apps/api
    depends_on:
      - db
      - redis
    restart: unless-stopped

  web:
    container_name: next-web
    image: nest-dhyunbot-web
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - TURBOPACK_ROOT=/workspace
    volumes:
      - .:/workspace # Monorepo root
      - /workspace/node_modules # Root node_modules
      - /workspace/apps/web/node_modules # Web node_modules
      - /workspace/apps/web/.next # Next.js build cache
      - /workspace/libs/shared/node_modules # Shared lib node_modules
    working_dir: /workspace/apps/web
    depends_on:
      - api
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
      NODE_ENV: production

    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379" # 로컬 디버깅용 (필요 없으면 제거 가능)
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
