services:
  api:
    container_name: nest-api-prod
    image: nest-dhyunbot-api-prod
    build:
      context: .
      dockerfile: apps/api/Dockerfile.prod
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    depends_on:
      - db
      - redis
    restart: unless-stopped

  web:
    container_name: next-web-prod
    image: nest-dhyunbot-web-prod
    build:
      context: .
      dockerfile: apps/web/Dockerfile.prod
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    depends_on:
      - api
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    command: redis-server --requirepass ${REDIS_PASSWORD} --appendonly yes
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
